
body { font-family: 'Open Sans', sans-serif; }
.navbar-brand img { max-height: 50px; }
#alerts .alert { margin-bottom: 10px; padding: 10px; border-radius: 5px; color: white; }
#alerts .giallo { background-color: orange; }
#alerts .arancione { background-color: darkorange; }
#alerts .rosso { background-color: red; }
#comms .comm { background-color: #f8f9fa; padding: 10px; margin-bottom: 10px; border-radius: 5px; }
